

.idea/
**/.idea
.idea/**
**/.idea/**"" 

node_modules/**
**/node_modules
node_modules/
**/node_modules/**

dist/
**/dist
dist/**
**/dist/**

.build/
**/.build
.build/**
**/.build/**

build/
**/build
build/**
**/build/**
